<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.sunriseydy.syhthems.db.mapper.DataPointMapper">
  <resultMap id="BaseResultMap" type="top.sunriseydy.syhthems.db.model.DataPoint">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="data_point_id" jdbcType="BIGINT" property="dataPointId" />
    <result column="data_point_code" jdbcType="VARCHAR" property="dataPointCode" />
    <result column="data_point_data" jdbcType="VARCHAR" property="dataPointData" />
    <result column="data_point_timestamp" jdbcType="TIMESTAMP" property="dataPointTimestamp" />
    <result column="data_stream_id" jdbcType="BIGINT" property="dataStreamId" />
    <result column="device_id" jdbcType="BIGINT" property="deviceId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="last_update_time" jdbcType="TIMESTAMP" property="lastUpdateTime" />
    <result column="last_update_by" jdbcType="BIGINT" property="lastUpdateBy" />
  </resultMap>
</mapper>