<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.sunriseydy.syhthems.db.mapper.MenuMapper">
    <resultMap id="BaseResultMap" type="top.sunriseydy.syhthems.db.model.Menu">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="menu_id" jdbcType="BIGINT" property="menuId"/>
        <result column="parent_id" jdbcType="BIGINT" property="parentId"/>
        <result column="menu_code" jdbcType="VARCHAR" property="menuCode"/>
        <result column="menu_name" jdbcType="VARCHAR" property="menuName"/>
        <result column="path" jdbcType="VARCHAR" property="path"/>
        <result column="permission" jdbcType="VARCHAR" property="permission"/>
        <result column="menu_component" jdbcType="VARCHAR" property="menuComponent"/>
        <result column="icon" jdbcType="VARCHAR" property="icon"/>
        <result column="type" jdbcType="CHAR" property="type"
                typeHandler="top.sunriseydy.syhthems.db.handler.BaseEnumTypeHandler"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="last_update_time" jdbcType="TIMESTAMP" property="lastUpdateTime"/>
        <result column="last_update_by" jdbcType="BIGINT" property="lastUpdateBy"/>
    </resultMap>
</mapper>